.session {
    text-align: left;
    border: 1px solid black;
    padding: 5px 20px;
    margin-bottom: 10px;
  }
  
  .bold {
    font-weight: bold;
  }

  .tea-info {
    text-align: left;
    padding: 0px 30px;
    border: 1px solid black;
    font-size: 15px;
  }

  .btn-div {
    text-align: center;
  } 

  .btn-link {
    text-decoration: none;
    color: black;
  }

  .tea-container {
    padding: 10px;
  }