.session {
    text-align: left;
    padding: 10px 5%;
    background-color: #292c5f;
    border-bottom: 1px solid #090a1b;
    border-radius: 5px;
}

.edit-session-btn {
    text-decoration: none;
    color: white;
}

.session-desc {
    color: rgb(168, 167, 167);
}

@media screen and (min-width: 480px) {
    .session {
        padding: 0px 10%;
    }
}
  
@media screen and (min-width: 700px) {
    .session {
        padding: 0px 20%;
    }
}