button {
  border-radius: 5px;
}

.collection {
  margin: 10px 5px;
  background-color: lightgrey;
  border: 1px solid rgba(170, 168, 168, 0.507);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(100, 100, 100, 0.199);
}
  
.add {
  margin-top: 20px;
}

.collections {
  padding: 0px 5%;
  background-color: #16183e;
  border-radius: 10px;
}

.section-title {
  text-align: center;
}

.dash-collection-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(170, 168, 168, 0.507);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(138, 137, 137, 0.199);
  padding: 5px 10px;
  color: black;
}

.span-class {
  color: black;
}

.collection-link {
  text-decoration: none;
}

.container-div {
  padding: 100px 5%;
}

@media screen and (min-width: 480px) {
  .collections {
    padding: 0px 10%;
  }
  .container-div {
    padding: 100px 10%;
  }
}

@media screen and (min-width: 700px) {
  .collections {
    padding: 0px 20%;
  }
  .container-div {
    padding: 100px 20%;
  }
}