.collection {
  margin: 10px 5px;
}
  
.add {
  /* padding: 10px 80px; */
  border: 1px solid black;
  margin-top: 20px;
  /* text-align: left */
}

.collections {
  border: 1px solid black;
  padding: 0px 5%;
}

.section-title {
  text-align: center;
}

.dash-collection-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 5px 10px;
}

.collection-link {
  text-decoration: none;
}

.container-div {
  padding: 100px 5%;
  
}

@media screen and (min-width: 480px) {
  .collections {
    padding: 0px 10%;
  }
  .container-div {
    padding: 100px 10%;
  }
}

@media screen and (min-width: 700px) {
  .collections {
    padding: 0px 20%;
  }
  .container-div {
    padding: 100px 20%;
  }
}