* {
    box-sizing: border-box;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  background-color: #121329;
}