* {
    box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

/* input {
 border: .5px solid rgb(63, 63, 63);
} */